@charset "utf-8";

@import "../../../node_modules/@angular/material/theming";

$rowHeight: 56px;
$selectionCellWidth: 56px;

:host {
  display: block;

  /** Main MatSelect width (consume all given space) */
  mat-form-field {
    width: 100%;
  }

}

::ng-deep .mat-select-panel.mat-select-search-table-panel {
  overflow-x: auto !important;

  .overall-search-toggle {
    z-index: 102;
    position: absolute;
    left: 13px;
    top: 17px;
    cursor: pointer;
  }

  ngx-mat-select-search {
    position: absolute;
    z-index: 101;

    &.hidden {
      display: none;
    }

    .mat-select-search-inner {
      height: $rowHeight;

      .mat-select-search-input {
        margin-left: 26px;
        width: calc(100% - 26px);
      }
    }
  }

  table {
    width: 100%;

    tr {
      cursor: pointer;
      height: 48px;
      max-height: 48px;

      mat-option {
        height: 48px;
        max-height: 48px;
      }

      &.active {
        background: rgba(0, 0, 0, 0.04);
      }

      td {
        @include user-select(none);
        border-bottom: 0 !important;
        -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
        -moz-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
        box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.12);
      }

      th ::ng-deep .mat-sort-header-container {
        height: $rowHeight - 1px;

        mat-form-field .mat-form-field-infix {
          width: initial;
        }
      }

      td, th {

        mat-option {
          background: transparent !important;
        }

        &.selection {
          width: $selectionCellWidth;
          padding: 0;
          margin: 0;

          &.hidden {
            mat-option {
              visibility: hidden;
            }
          }
        }
      }
    }
  }
}

